<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

<div class="container">

    <H1>Seguimiento casos reportados Coronavirus</H1>
    <p>Esta aplicacion lista el numero actual de casos reportados de coronavirus en cada pais.</p>

    <div class="bg-light p-5 rounded-lg m-3">
        <H1 class="display-2" th:text="${totalReportedCases}"></H1>
        <p class="lead">Casos totales reportados a dia de hoy</p>
        <hr class="my-4">
        <p>
            <span>Nuevos casos reportados desde ayer:</span>
            <span th:text="${totalNewCases}"></span>
        </p>
    </div>

    <table class="table">
        <tr>
            <th>Pais</th>
            <th>Estado/Provincia</th>
            <th>Casos totales reportados</th>
            <th>Cambios desde el ultimo dia</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>

</body>

</html>

